<template>
	<section>
		<h2>${heading}</h2>

		<a route-href="route: home;">Listing</a>
		<a route-href="route: archive;">Archives</a>

		<form submit.trigger="addTodo()">
	    <input type="text" value.bind="title">
  	  <button type="submit">Add Todo</button>
		</form>
		<div>
			<div width='500px' style="display: inline-block;">
				<ul>
			    <li repeat.for="todo of todos">
			      <input type="checkbox" checked.bind="todo.checked" change.delegate="checkTodo(todo)">
			      <span>
			        ${todo.description}
			      </span>
			    </li>    
			  </ul>
			</div>
			<div width='500px' style="display: inline-block;">
				<ul>
			    <li repeat.for="todo of checkedTodos">
			      <input type="checkbox" checked.bind="todo.checked">
			      <span>
			        ${todo.description}
			      </span>
			      <button click.delegate="removeTodo(todo)">Remove Todo</button>
			    </li>    
			  </ul>
			</div>
		</div>
	</section>
</template>